:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}
.row {
  display: flex;
}

.col {
  flex: 1;
}

.card {
  width: 400px;
  height: 400px;
  margin: auto;
}
.card-body {
  margin: 0px;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin: auto;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}
.subheading {
  font-size: 30px;
  margin: 0px;
}
.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.green {
  color: #198753;
}

.fab {
  padding: 20px;
  margin: auto;
  display: flexbox;
}
span {
  display: flex;
}
img {
  height: 300px;
  width: auto;
  margin: auto;
  padding: 6px;
}
#heading-port {
  font-size: 40px;
}
.invite {
  font-size: x-small;
  padding: 0px;
  margin: 0px;
}
.container {
  display: block;
  justify-content: center;
  text-align: center;
  align-items: center;
}
footer {
  margin-top: 10px;
}
.col {
  display: block;
  text-align: center;
}
